* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 111, 171);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 33px;
  width: 400px;
}

button {
  color: white;
  background-color: rgb(228, 111, 171);
  width: 100%;
  height: 33px;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}

img {
  object-fit: cover;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 11px;
}

.person {
  display: flex;
  align-items: center;
  margin: 33px 0px;
}
